<!DOCTYPE html>
<html>
<head>
    <title>Mail Now</title>
    <!-- Add Bootstrap CSS  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <!-- Use Bootstrap container to center the content -->
    <div class="container">
        <h1 class="mt-5">Mail Now</h1>
        <form method="POST" action="/send_emails" enctype="multipart/form-data" class="mt-3" id="email-form">
            <div class="input-group">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="csv" name="csv">
                    <label class="custom-file-label" for="csv">Choose a CSV file</label>
                </div>
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary" id="send-button">Send Mail</button>
                </div>
            </div>
        </form>
    </div>

 
</body>
</html>
